/* Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Navbar related styles. */
.nav-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 30px;
}
.nav-container li {
  list-style: none;
}
.nav-container a {
  text-decoration: none;
}
.nav-title {
  font-size: 1.5rem;
  color: #3a3a3a;
  font-weight: 700;
}
.list-items a {
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600;
}
/* Banner related styles */
.banner-container {
  max-width: 1440px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-title {
  width: 582px;
  height: 133px;
  flex-shrink: 0;
  color: #3a3a3a;
  font-size: 3.25rem;
  font-weight: 700;
}
.banner-description {
  width: 505px;
  height: 60.9px;
  flex-shrink: 0;
  font-size: 1rem;
  color: #3a3a3a;
  font-weight: 600;
}
.banner-button {
  border-radius: 41px;
  background: #e02c6d;
  border: none;
}
.banner-button-text {
  font-size: 1rem;
  color: white;
  font-weight: 600;
  padding: 15px;
}
.banner-image {
  background-image: url("../images/Circle\ design.svg");
}
.hr{
  
  width: 1110px;
height: 1px;
flex-shrink: 0;
fill: linear-gradient(90deg, rgba(192, 204, 218, 0.10) 0%, rgba(192, 204, 218, 0.60) 50.38%, rgba(192, 204, 218, 0.10) 100%);
}
.sponsor-container{
  width: 1440px;
  margin: 20px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* card related styles */
.collection-container{
  width: 1000px;
  margin: 0 auto;
}
.card-heading{
  font-size: 1.25rem;
  color: #3a3a3a;
  font-weight: 700;
  text-align: center;
  margin: 50px 50px;
}
.all-card-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.card-container{
  width: 329px;
height: 476px;
border-radius: 5px;
background: #FFF;
box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);

}
.card-image{
  width: 300px;
height: 256px;
flex-shrink: 0;
border-radius: 5px;
/* background: url(<path-to-image>) lightgray 50% / cover no-repeat; */
padding: 13px;
}
.card-name{
  padding-left: 14px;
  font-size: 1.75rem;
  color: #3a3a3a;
  font-weight: 500;
}
.price{
  padding-left: 14px;
  font-size: 1.5rem;
  font-weight: 400;
}
.badge{
  width: 11.068px;
height: 10.316px;
display: flex;
/* fill: var(--Orange-60, #FB8200); */
color: goldenrod;
align-items: center;
gap: 5px;
}
.available{
  width: 196px;
}












/* Responsive design */
@media screen and (max-width: 576px) {
  .nav-container li:nth-child(-n + 5) {
    display: none;
  }
  .banner-container {
    flex-direction: column-reverse;
  }
  .banner-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .banner-image {
    width: 202px;
    height: 190px;
    flex-shrink: 0;
    background: url("../images/Circle\ design.svg") lightgray -117.847px -56.449px /
      220.317% 154.831% no-repeat;
  }
  .banner-title {
    width: 404px;
    height: 78px;
    flex-shrink: 0;
    color: #3a3a3a;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .banner-description {
    width: 321px;
    height: 65px;
    flex-shrink: 0;
    color: #3a3a3a;
    text-align: center;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .sponsor-container{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
  }
}
